@font-face {
    font-family: Dogica;
    src: url(fonts/dogica/OTF/dogica.otf);
}
@font-face {
    font-family: Quicksand;
    src: url(fonts/quicksand/Quicksand_Book.otf);
}

html{
    background-color: #3d3d3d;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    width:auto;
    max-width:1280px;
    margin: 0 auto;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.main{
    padding-top: 2em;
    display:flex;
}

.paragraph{
    position: relative;
    width: 100%;
    height:150px;
    font-family:  Quicksand;
    font-size: 1.3em;
}

    .paragraph_b{
        position: absolute;
        z-index: 1;
        transition: 1s;
        opacity:0;
    }

    .info{
        margin: 2em;
        text-align: justify;
        line-height: 1.5em;
    }

    .paragraph_a{
        position: absolute;
        width:100%;
        height: 100%;
        top: 50%;
        border-radius: 10px;
        background: #3d3d3d;
        justify-content: center;
        /*box-shadow: 7px 7px 14px #333333, -7px -7px 14px #474747;*/
        
    }

    .paragraph:hover .paragraph{
        opacity: 1;
        transition:2s;
    }
    .paragraph:hover .paragraph_b{
        opacity: 1;
        transition:1s;
        border-radius: 10px;
        background: #3d3d3d;
        box-shadow: inset 7px 7px 14px #333333, inset -7px -7px 14px #474747;
    }
    .paragraph:hover .paragraph_a{
        opacity: 0;
        transition: 2s;
    }
    .paragraph:hover .paragraph_a h3{
        opacity: 0;
        transition: 0.5s;
    }

.paragraph img{
    max-width: 1.5em;
    transform: translateY(0.3em);
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.language{
    display: flex;
    align-items: center;
    height:25px;
}

.language img{
    padding-inline: 0.5em;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1em;
    font-weight:lighter;
    letter-spacing:0.1em;
}

.presentation{
    padding-top: 2em;
    display: flex;
    height:400px;

}

.left_side{

    margin:auto;
    width:50%;
}

.left_side ul{
    list-style:none;
    display:flex;
    padding:0;
}

.left_side ul li{
    padding-right: 1em;
}

.shib{
    width: 50%;
    margin: auto;
}

.cv{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("img/cv.png") no-repeat;
}

.cv:hover{
    background-image : url("img/cvc.png");
}

.whatsapp
{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("img/whatsapp.png") no-repeat;
}
.whatsapp:hover
{
    background-image : url("img/whatsappc.png");
}

.mail
{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("img/email.png") no-repeat;
}
.mail:hover
{
    background-image : url("img/emailc.png");
}

.linkedin
{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("img/linkedin.png") no-repeat;
}
.linkedin:hover
{
    background-image : url("img/linkedinc.png");
}

    .presentation h2{
        font-size: 2em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    letter-spacing: 3px;
    }

    .name{
        font-family: Dogica;
        font-size: 25px;
        color:#e69c55;
        letter-spacing: 1px;
    }

    .presentation img{
        margin: auto;
        height:400px;
        width:400px;
    }

h3{
    text-align: center;
    font-variant: small-caps;
    font-weight: lighter;

}


footer{
    text-align: center;
    font-size:15px;
    font-variant: small-caps;
    padding-top:10em;
}




