@font-face {
    font-family: Dogica;
    src: url(../fonts/dogica/OTF/dogica.otf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/quicksand/Quicksand_Book.otf);
}

html{
    background-color: #3d3d3d;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    width:auto;
    max-width:1280px;
    margin: 0 auto;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1em;
    font-weight:lighter;
    letter-spacing:0.1em;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1em;
    font-weight:lighter;
    letter-spacing:0.1em;
    text-align: center;
}

hr{
    background-color: #e69c55;
    width: 50%;
}

/*__________________________________________________________________*/

.language{
    display: flex;
    align-items: center;
    height:25px;
}
.language img{
    padding-inline: 0.5em;
}


.presentation{
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
    height:400px;
}

.presentation h2{
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

.presentation img{
    margin: auto;
    height:400px;
    width:400px;
}

.name{
    font-family: Dogica;
    font-size: 25px;
    color:#e69c55;
    letter-spacing: 1px;
}
.left_side{

    margin:auto;
    width:50%;
}

.left_side ul{
    list-style:none;
    display:flex;
    padding:0;
}

.left_side ul li{
    padding-right: 1em;
}

.shib{
    width: 50%;
    margin: auto;
}

.cv{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("../icn/cv.png") no-repeat;
}

.cv:hover{
    background-image : url("../icn/cvc.png");
}

.whatsapp
{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("../icn/whatsapp.png") no-repeat;
}
.whatsapp:hover
{
    background-image : url("../icn/whatsappc.png");
}

.mail
{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("../icn/email.png") no-repeat;
}
.mail:hover
{
    background-image : url("../icn/emailc.png");
}

.linkedin
{
    width : 24px;
    height : 24px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("../icn/linkedin.png") no-repeat;
}
.linkedin:hover
{
    background-image : url("../icn/linkedinc.png");
}

/*__________________________________________________________________*/

.main{
    display:flex;
    justify-content: space-around;
    margin: 2em;
    text-align: justify;
    line-height: 1.5em;
    border-radius: 10px;
    background: #3d3d3d;
    box-shadow: inset 7px 7px 14px #333333, inset -7px -7px 14px #474747;
}
.main img{
    /*max-width: 1.5em;*/
    transform: translateY(0.3em);
    padding-left: 0.1em;
    padding-right: 0.2em;
}

.icon {
    max-width: 1.5em;
}

.icon1 {
    width: 48px;
}


hr{
    background-color: #e69c55;
    width: 50%;
    border: none;
    height: 1px;
}

.box_a{
    width: 100%;
    padding: 2em;
    font-family:  Quicksand;
    flex: 66%;
}

.box_b{
    padding: 2em;
    font-family: Quicksand;
    text-align: center;
    margin: 2em;
    border-radius: 10px;
    background: #3d3d3d;
    box-shadow:  7px 7px 14px #343434,
                 -7px -7px 14px #464646;
}

.box_b .p{
    bottom: -11px;
}

.box_c{
    width: 100%; 
    padding: 2em;
    font-family:  Quicksand;
    flex: 33%;

}


footer{
    text-align: center;
    font-size:15px;
    font-variant: small-caps;
    padding-top:10em;
}




